In [14]:
def var_x(List):
    sum_sq=0
    for i in range(len(List)):
      sum_sq+=(List[i]-mean(List))**2
    var=sum_sq/(len(List)-1)
    sd=sqrt(var)
    return var,sd

In [11]:
List=[1,2,3,4,5,6,7,8,9,12]

In [17]:
var(List)*(10/9)

11.566666666666668

In [15]:
var_x(List)

(11.566666666666666, 3.4009802508492557)

In [24]:
def skewness(List):
    skewness=3*(mean(List)-median(List))/var_x(List)[1]
    return skewness

In [25]:
skewness(List)

0.17641972482791543

In [34]:
import pandas as pd
from pandas import read_csv
df=pd.read_csv(r'C:\Users\Rvirjibhai\Desktop\Book1.csv')

In [35]:
df

    Before Course  After Course
0              44            53
1              40            38
2              61            69
3              52            57
4              32            46
5              44            39
6              70            73
7              41            48
8              67            73
9              72            74
10             53            60
11             72            78

In [36]:
df['Difference']=df['After Course']-df['Before Course']

In [37]:
df

    Before Course  After Course  Difference
0              44            53           9
1              40            38          -2
2              61            69           8
3              52            57           5
4              32            46          14
5              44            39          -5
6              70            73           3
7              41            48           7
8              67            73           6
9              72            74           2
10             53            60           7
11             72            78           6

In [38]:
df['Dif Sq']=df['Difference']**2

In [39]:
df

    Before Course  After Course  Difference  Dif Sq
0              44            53           9      81
1              40            38          -2       4
2              61            69           8      64
3              52            57           5      25
4              32            46          14     196
5              44            39          -5      25
6              70            73           3       9
7              41            48           7      49
8              67            73           6      36
9              72            74           2       4
10             53            60           7      49
11             72            78           6      36

In [40]:
import scipy
from scipy import stats
stats.ttest_rel(df['Before Course'],df['After Course'])

Ttest_relResult(statistic=-3.445359719553577, pvalue=0.005472667818346521)

In [43]:
data=pd.DataFrame()
data["Successful"]=[165,24]
data["Unsuccessful"]=[212,63]


data=data.rename(index={0:"Observed",1:"Expected"})
data=data.T

data['difference']=data.loc[:,"Observed"] - data.loc[:,"Expected"] 
data['difference squared'] = data.loc[:,'difference']**2

chisqr=sum(data.loc[:,'difference squared']/data.loc[:,"Expected"])

if chisqr<3.84:
    print('We fail to reject the null hypothesis')
else:
    print('We reject the null hypothesis')

We reject the null hypothesis